/* wsTve/рус                                                 *** style.css ***/


span 
{
    display: block;
    margin-bottom: 2px;
}

input 
{
    padding: 5px;
    box-sizing: border-box;
}

input[type="text"] 
{
    width: 100%;
}

input[type="button"] 
{
    width: 33%;
    /*float: left;*/
    margin-top: 5px;
    margin-right: 5px;
}

div#socket-info 
{
    padding: 5px;
    border: 1px solid #ddd;
}

#left
{
  float: left;
  width: 49%;
  height:100%;
}

#right
{
  float: right;
  width: 49%;
  height:100%;
}